@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, sans-serif;
}

.grid-cols-me-4 {
  grid-template-columns: repeat(4, minmax(0, 18rem));
}

.grid-rows-me-7 {
  grid-template-rows: repeat(7, minmax(0, 6rem));
}

.h-less-screen-me {
  height: calc(100vh - 60px);
}

.w-less-screen-me {
  width: calc(100vw - 350px);
}
